.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}
.container .header{
	width: 1170px;
	height: 200px;
	background-color: #ff0000;
}
.container .contentrow1{
	width: 1170px;
	height: auto;
}
.container .contentrow1 .content1{
	width: 292.5px;
	height: 200px;
	background-color:silver;
	float: left;
}
.container .contentrow1 .content2{
	width: 292.5px;
	height: 200px;
	background-color: #eee;
	float: left;
}
.container .contentrow1 .content3{
	width: 292.5px;
	height: 200px;
	background-color: #e0e0e0;
	float: left;
}
.container .contentrow1 .content4{
	width: 292.5px;
	height: 200px;
	background-color: #eee;
	float: left;
}
.container .contentrow2 .content5{
	width: 292.5px;
	height: 200px;
	background-color: #eee;
	float: left;
}
.container .contentrow2 .content6{
	width: 585px;
	height: 200px;
	background-color: #e0e0e0;
	float: left;
}
.container .contentrow2 .content7{
	width: 292.5px;
	height: 200px;
	background-color: #eee;
	float: left;
}